.top-image
  %h1.catchCopy お気に入りの カフェ が きっと 見つかる
.top.container.my-5
  .top-group.mb-5.p-5
    .top-title
      %h3.font-weight-bold タグから探す
    .tag-content.row
      %ul.tag-list.p-3
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "wi-fiあり", "/tags/1/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "電源あり", "tags/2/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "駅から徒歩5分", "tags/3/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "50席以上", "tags/4/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "禁煙", "tags/5/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "分煙", "tags/6/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "喫煙可", "tags/7/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "チェーン店", "tags/8/shops"
        %li.tag-item.mt-1.mr-2.py-1.px-2
          = link_to "純喫茶", "tags/9/shops"  
  .top-group.mb-5.p-5
    .top-title
      %h3.font-weight-bold アクセスから探す
    .access-content.row
      %ul.access-list.p-3.font-weight-bold
        %li.access-item.mr-2.mt-1
          = link_to "渋谷", "searches?utf8=✓&keyword=渋谷駅"
        %li.access-item.mr-2.mt-1
          = link_to "新宿", "searches?utf8=✓&keyword=新宿駅"
        %li.access-item.mr-2.mt-1
          = link_to "表参道", "searches?utf8=✓&keyword=表参道駅"
        %li.access-item.mr-2.mt-1
          = link_to "銀座", "searches?utf8=✓&keyword=銀座駅"
        %li.access-item.mr-2.mt-1
          = link_to "東京", "searches?utf8=✓&keyword=東京駅"
        %li.access-item.mr-2.mt-1
          = link_to "原宿", "searches?utf8=✓&keyword=原宿駅"
        %li.access-item.mr-2.mt-1
          = link_to "池袋", "searches?utf8=✓&keyword=池袋駅"
        %li.access-item.mr-2.mt-1
          = link_to "下北沢", "searches?utf8=✓&keyword=下北沢駅"
        %li.access-item.mr-2.mt-1
          = link_to "横浜", "searches?utf8=✓&keyword=横浜駅"
  .top-group.mb-5.p-5
    .top-title
      %h3.font-weight-bold 新着順
    = render partial: 'modules/shops'   

  = paginate(@shops)