.top-image

.container
  .top
    .top__contents
      .top__contents__tag
        %h2 タグから選ぶ
        .top__contents__tag__list
          %ul.list
            %li
              = link_to "wi-fiあり", "#"
            %li
              = link_to "電源あり", "#"
            %li
              = link_to "駅から徒歩5分", "#"
            %li
              = link_to "50席以上", "#"
            %li
              = link_to "チェーン店", "#"
            %li
              = link_to "純喫茶", "#"
      .top__contents__shops
        .top__contents__shops__list
          %h3 #新着順
        .top__contents__shops__reviews
          .row
          - @shops.each do |shop|
            .top__contents__shops__reviews__item
              = link_to shop_path(shop) , class: "link" do
                .top__contents__shops__reviews__item__info
                  .top__contents__shops__reviews__item__info__name
                    = shop.name
                  .top__contents__shops__reviews__item__photo
                  - shop.shop_images.each do |shop_image| 
                    = image_tag shop_image.image_url, size: "300x300"
              .top__contents__shops__reviews__item__star
                評価
              .top__contents__shops__reviews__item__info__station
                = shop.access
          = paginate(@shops)

          