.top-image

.container
  .top
    .top__contents
      .top__contents__tag
        %h2 タグから選ぶ
        .top__contents__tag__list
          %ul.list
            %li
              = link_to "wi-fiあり", "#"
            %li
              = link_to "電源あり", "#"
            %li
              = link_to "駅から徒歩5分", "#"
            %li
              = link_to "50席以上", "#"
            %li
              = link_to "チェーン店", "#"
            %li
              = link_to "純喫茶", "#"
      .top__contents__shops
        .top__contents__shops__list
          %h3 #新着順
        = render partial: 'partial/shops'
  = paginate(@shops)