.top-image
  
.container
  .top
    .top__contents
      .top__contents__tag
        %h2 タグから選ぶ
        .top__contents__tag__list
          %ul.list
            %li
              = link_to "wi-fiあり", "#"
            %li
              = link_to "電源あり", "#"
            %li
              = link_to "駅から徒歩5分", "#"
            %li
              = link_to "50席以上", "#"
            %li
              = link_to "チェーン店", "#"
            %li
              = link_to "純喫茶", "#"
      .top__contents__shops
        .top__contents__shops__list
          %h3 #新着
          = link_to "#", class: "link" do
            %storng もっと見る
        .top__contents__shops__reviews
          .row
            .top__contents__shops__reviews__item.col-4
              .top__contents__shops__reviews__item__info
                .top__contents__shops__reviews__item__info__name
                  お店の名前
                .top__contents__shops__reviews__item__info__station
                  渋谷駅
                .top__contents__shops__reviews__item__photo
                  =image_tag "", size: "300x300"
                .top__contents__shops__reviews__item__star
                  評価
            .top__contents__shops__reviews__item.col-4
              .top__contents__shops__reviews__item__info
                .top__contents__shops__reviews__item__info__name
                  お店の名前
                .top__contents__shops__reviews__item__info__station
                  渋谷駅
                .top__contents__shops__reviews__item__photo
                  =image_tag "", size: "300x300"
                .top__contents__shops__reviews__item__star
                  評価
            .top__contents__shops__reviews__item.col-4
              .top__contents__shops__reviews__item__info
                .top__contents__shops__reviews__item__info__name
                  お店の名前
                .top__contents__shops__reviews__item__info__station
                  渋谷駅
                .top__contents__shops__reviews__item__photo
                  =image_tag "", size: "300x300"
                .top__contents__shops__reviews__item__star
                  評価
        .top__contents__shops__list
          %h3 #人気
          = link_to "#", class: "link" do
            %storng もっと見る
        .top__contents__shops__reviews
          .row
            .top__contents__shops__reviews__item.col-4
              .top__contents__shops__reviews__item__info
                .top__contents__shops__reviews__item__info__name
                  お店の名前
                .top__contents__shops__reviews__item__info__station
                  渋谷駅
                .top__contents__shops__reviews__item__photo
                  =image_tag "", size: "300x300"
                .top__contents__shops__reviews__item__star
                  評価
            .top__contents__shops__reviews__item.col-4
              .top__contents__shops__reviews__item__info
                .top__contents__shops__reviews__item__info__name
                  お店の名前
                .top__contents__shops__reviews__item__info__station
                  渋谷駅
                .top__contents__shops__reviews__item__photo
                  =image_tag "", size: "300x300"
                .top__contents__shops__reviews__item__star
                  評価
            .top__contents__shops__reviews__item.col-4
              .top__contents__shops__reviews__item__info
                .top__contents__shops__reviews__item__info__name
                  お店の名前
                .top__contents__shops__reviews__item__info__station
                  渋谷駅
                .top__contents__shops__reviews__item__photo
                  =image_tag "", size: "300x300"
                .top__contents__shops__reviews__item__star
                  評価
          