.container.my-5
  %h1.shop__header.text-center.py-5 新しいカフェの登録 
  .shop-form
    = form_for @shop do |f|
      .shop-form__form-group.mx-auto.col-4 
        = f.label :name, "店名", class: "shop__form-label"
        = f.text_field :name, placeholder: "例: スターバックスコーヒー 渋谷店", class: "shop__form-input"
      .shop-form__form-group.mx-auto.col-4 
        = f.label :access, "最寄駅", class: "shop__form-label"
        = f.text_field :access, placeholder: "例: 渋谷駅", class: "shop__form-input"
      .shop-form__form-group.mx-auto.col-4 
        = f.label :address, "住所", class: "shop__form-label"
        = f.text_field :address, placeholder: "例: 東京都渋谷区渋谷1-1-1", class: "shop__form-input"
      .shop-form__form-group.mx-auto.col-4
        = f.label :business_hours, "営業時間", class: "shop__form-label"
        = f.text_field :business_hours, placeholder: "例: 7:00~23:00", class: "shop__form-input"
      .shop-form__form-group.mx-auto.col-4 
        = f.label :holiday, "定休日", class: "shop__form-label"
        = f.text_field :holiday, placeholder: "例: 月曜日", class: "shop__form-input"
      .shop-form__form-group.mx-auto.col-4 
        = f.label :seat, "席数", class: "shop__form-label"
        = f.text_field :seat, placeholder: "例: 100", class: "shop__form-input"
      .shop-form__form-group.mx-auto.col-4 
        = f.label "タグ 複数選択可", class: "shop__form-label"
        .tag-check-box
          = f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag|
            = tag.label do
              = tag.check_box
              = tag.text
      = f.fields_for :shop_images do |f|
        .shop-form__form-group.mx-auto.col-4 
          = f.label :image, "写真", class: "shop__form-label"
          = f.file_field :image, class: "shop__form-input shop-images__form"
      .shop-form__form-group.mx-auto.col-4
        = f.submit "登録する", class: "shop-button my-5"
