<div class="shop-data container my-5 p-5">
  <div class="shop-data-group">
    <div class="shop-data__upper pb-3">
      <div class="shop-data__upper__name font-weight-bold">
        <%= @shop.name %>
          <% if user_signed_in? && @shop.user_id == current_user.id %>
            <%= link_to "編集", edit_shop_path, class: "shop-edit-button float-right" %>
          <% end %>
      </div>
      <div class="shop-data__upper__average d-flex">
        <% if @shop.reviews.present? %>
          <div class="shop-data__upper__average-star">
            <% @star_on = @average_rate.to_i %>
            <% @star_off = 5 - @star_on %>
            <% @star_on.times do %>
              <%= image_tag "star-on.png" %>
            <% end %>
            <% @star_off.times do %>
              <%= image_tag "star-off.png" %>
            <% end %>
          </div>
          <div class="shop-data__upper__average-rate font-weight-bold pl-3">
            <%= @average_rate.to_f.round(2) %>
          </div>
          <div class="shop-data__upper__shop-icon d-flex pl-3">
            <div class="shop-data__upper__shop-icon-like">
              <i class="fas fa-heart fa-xs">
                <%= "#{@shop.likes.count}" %>
              </i>
            </div>
            <div class="shop-data__upper__shop-icon-review pl-2">
              <i class="fas fa-comment-dots fa-xs">
                <%= "#{@shop.reviews.count}" %>
              </i>
            </div>
          </div>
        <% else %>
          <div class="shop-data__upper__average-star">
            <% 5.times do %>
              <%= image_tag "star-off.png" %>
            <% end %>
          </div>
          <div class="shop-data__upper__average-rate font-weight-bold pl-3">
            <%= "--" %>
          </div>
          <div class="shop-data__upper__shop-icon d-flex pl-3">
            <div class="shop-data__upper__shop-icon-like">
              <i class="fas fa-heart fa-xs">
                <%= "#{@shop.likes.count}" %>
              </i>
            </div>
            <div class="shop-data__upper__shop-icon-review pl-2">
              <i class="fas fa-comment-dots fa-xs">
                <%= "#{@shop.reviews.count}" %>
              </i>
            </div>
          </div>
        <% end %>
      </div>
      <div class="shop-data__upper__registered-person">
        登録者: <%= link_to @shop.user.name, user_path(@shop.user.id),class: "text-dark" %>
      </div>
    </div>
    <div class="shop-data__content d-lg-flex">
      <div class="shop-data-image">
        <% if @image %>
          <%= image_tag @image.image_url, size: "500x330", alt: "メイン画像", class: "mainImage" %>
        <% else %>
          <%= image_tag "no-image-show.png", size: "500x330", alt: "メイン画像", class: "mainImage" %>
        <% end %>
      </div>
      <table class=" table ml-lg-3">
        <tr><th>最寄駅<td><%= @shop.access %></td></th></tr>
        <tr><th>住所<td><%= @shop.address %></td></th></tr>
        <tr><th>営業時間<td><%= @shop.business_hours %></td></th></tr>
        <tr><th>定休日<td><%= @shop.holiday %></td></th></tr>
        <tr><th>席数<td><%= "#{@shop.seat}席" %></td></th></tr>
        <tr><th>タグ<td>
          <% @shop.tags.each do |tag| %>
            <div class="tag-name">
              <%= link_to tag.name, tag_shops_path(tag_id: tag.id),class: "tag-name-button" %>
            </div>
          <% end %>
        </td></th></tr>
        <tr><th>お気に入り<td>
          <% if user_signed_in? %>
            <%= render partial: 'like' %>
          <% else %>
            <i class="fas fa-heart like-button">
              <%= "#{@shop.likes.count}" %>
            </i>
          <% end %>
        </td></th></tr>
      </table>
    </div>
    <div class="shop-data-other-images">
      <div class="shop-data-other-images__header">
        <div class="shop-data-other-images__header__title font-weight-bold mb-3">写真</div>
      </div>
      <div class="shop-data-other-images__content">
        <% @images.each do |image| %>
          <%= link_to image.image.url, 'data-lightbox': image.image do %>
            <%= image_tag "#{image.image_url}", size: "200x165", class:"otherImage" if image.image? %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="shop-review my-5">
      <div class="shop-review__title font-weight-bold pb-3">レビュー一覧
        <%= link_to "レビューを書く", "/shops/#{@shop.id}/reviews/new", class: "shop-review-button float-right" %>
      </div>
      <div class="shop-review__wrapper pb-5">
        <% if @reviews.present? %>
          <% @reviews.each do |review| %>
            <div class="shop-reviews__content p-3 mb-5">
              <div class="shop-reviews__content__user mb-1">
                <div class="shop-reviews__content__user-avatar">
                  <% if review.user.user_image? %>
                    <%= link_to image_tag(review.user.user_image_url, alt: "アバター", class: "review-avatar my-1"), user_path(review.user.id) %>
                  <% else %>
                    <%= link_to image_tag("default_avatar.png", alt: "アバター", class: "review-avatar my-1"), user_path(review.user.id)%>
                  <% end %>
                </div>
                <div class="shop-reviews__content__user-name ml-3">
                  <%= link_to review.user.name , user_path(review.user.id),class: "text-dark" %>
                </div>
                <%# レビューの削除 %>
              </div>
              <div class="shop-reviews__content__star">
                <% @star_on = review.rate %>
                <% @star_off = 5 - @star_on %>
                <% @star_on.times do %>
                  <%= image_tag "star-on.png" %>
                <% end %>
                <% @star_off.times do %>
                  <%= image_tag "star-off.png" %>
                <% end %>
                <%= review.created_at.to_s(:date) %>
              </div>
              <div class="shop-reviews__content__main mr-3 pt-3">
                <%= review.text %>
              </div>
            </div>
          <% end %>
        <% else %>
          レビューはまだありません。
        <% end %>
      </div>
    </div>
  </div>
</div>