.container
  .shop
    .shop__data.pt-5.pb-3
      .shop__data__upper__name
        = @shop.name
      .shop__data__upper__stars
        評価
        - if user_signed_in? && @shop.user_id == current_user.id
          = link_to "編集", edit_shop_path, class: "shop-edit-button float-right"
    .shop__content.d-flex.mb-5
      .shop__photo
        - if @image 
          = image_tag @image.image_url, size: "500x320", alt: "メイン画像", class: "mainImage"
        - else
          = image_tag 'http://placehold.jp/eeeeee/cccccc/430x320.png?text=No%20Image', size: "500x320", alt: "メイン画像", class: "mainImage"
      %table.table.ml-3
        %tr
          %th 
            最寄駅
            %td
              = @shop.access
        %tr
          %th 
            住所
            %td
              = @shop.address
        %tr
          %th 
            営業時間
            %td
              = @shop.business_hours
        %tr
          %th 
            定休日
            %td
              = @shop.holiday
        %tr
          %th 
            席数
            %td
              = "#{@shop.seat}席"
        %tr
          %th 
            タグ
            %td
              禁煙 仮置き
    .shop__post-photo
      .shop__post-photo__header
        .shop__post-photo__header__title.mb-3
          写真
      .shop__post-photo__content
        - @images.each do |image|
          = image_tag "#{image.image_url}", size: "200x150", alt: "サムネイル", class: "thumb"
          
    .shop__review.my-5
      .shop__review__title.mb-3
        口コミ
      .shop__reviews__content
        口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ口コミ

