.container
  .shop
    .shop__data.pt-5.pb-3
      .shop__data__upper__name
        aaaaaaaaaaa
      .shop__data__upper__stars
        評価
    .shop__content.d-flex.mb-5
      .shop__photo
        = image_tag 'https://placehold.jp/640x320.png', size: "640x320", alt: "メイン写真"
      %table.table.ml-3
        %tr
          %th 
            最寄駅
            %td
              渋谷
        %tr
          %th 
            住所
            %td
              東京都渋谷区渋谷２丁目１５−１
        %tr
          %th 
            営業時間
            %td
              08:00-23:00
        %tr
          %th 
            定休日
            %td
              無休
        %tr
          %th 
            席数
            %td
              90席
        %tr
          %th 
            その他
            %td
              禁煙
    .shop__post-photo
      .shop__post-photo__header
        .shop__post-photo__header__title.mb-3
          写真
      .shop__post-photo__content
        = image_tag 'https://placehold.jp/200x150.png', size: "200x150", alt: "他の写真"
        = image_tag 'https://placehold.jp/200x150.png', size: "200x150", alt: "他の写真"
        = image_tag 'https://placehold.jp/200x150.png', size: "200x150", alt: "他の写真"
        = image_tag 'https://placehold.jp/200x150.png', size: "200x150", alt: "他の写真"
        = image_tag 'https://placehold.jp/200x150.png', size: "200x150", alt: "他の写真"
    .shop__review.my-5
      .shop__review__title.mb-3
        口コミ
      .shop__reviews__content
        ああああああああああああああああああああああああああああああ
    %button.btn.btn-primary.float-right{:type => "submit"} Sign In



