.devise.container.my-5
  %h1.devise__header.text-center.py-5 プロフィールを編集
  - if current_user.email == "test@gmail.com"
    = form_for(current_user) do |f|
      .devise__form-group.mx-auto.col-4 
        = f.label :name, "名前", class: 'devise__form-label'
        = f.text_field :name, autofocus: true, class: 'devise__form-input'
      .devise__form-group.mx-auto.col-4 
        = f.label :email, "メールアドレス", class: 'devise__form-label'
        = f.email_field :email, class: 'devise__form-input'
      .devise__form-group.mx-auto.col-4 
        = f.label :profile_description, "自己紹介", class: 'devise__form-label'
        = f.text_area :profile_description, class: 'devise__form-input'
      .devise__form-group.mx-auto.col-4 
        = f.label :user_image, "プロフィール写真", class: 'devise__form-label' 
        = f.file_field :user_image, class: 'devise__form-input user_image__form-input'
      .devise__form-group.mx-auto.col-4.mt-5
        = f.submit ("保存"), class: 'devise-edit-button'
      .devise__form-group.mx-auto.col-4.pt-3.py-5
        = link_to "キャンセル", :back, class: 'devise-edit-button'
    -# = form_for(current_user) do |f|
    -#   .devise__form-group.mx-auto.col-4 
    -#     = f.label :name, "名前", class: 'devise__form-label'
    -#     = f.text_field :name, autofocus: true, class: 'devise__form-input'
    -#   .devise__form-group.mx-auto.col-4 
    -#     = f.label :profile_description, "自己紹介", class: 'devise__form-label'
    -#     = f.text_area :profile_description, class: 'devise__form-input'
    -#   .devise__form-group.mx-auto.col-4 
    -#     = f.label :user_image, "プロフィール写真", class: 'devise__form-label'
    -#     = f.file_field :user_image, class: 'devise__form-input user_image__form-input'
    -#   .devise__form-group.mx-auto.col-4.mt-5
    -#     = f.submit ("保存"), class: "devise-edit-button"
    -#   .devise__form-group.mx-auto.col-4.pt-3.py-5
    -#     = link_to "キャンセル", :back, class: "devise-edit-button"
  - else
    = form_for(current_user) do |f|
      .devise__form-group.mx-auto.col-4 
        = f.label :name, "名前", class: 'devise__form-label'
        = f.text_field :name, autofocus: true, class: 'devise__form-input'
      .devise__form-group.mx-auto.col-4 
        = f.label :email, "メールアドレス", class: 'devise__form-label'
        = f.email_field :email, class: 'devise__form-input'
      .devise__form-group.mx-auto.col-4 
        = f.label :profile_description, "自己紹介", class: 'devise__form-label'
        = f.text_area :profile_description, class: 'devise__form-input'
      .devise__form-group.mx-auto.col-4 
        = f.label :user_image, "プロフィール写真", class: 'devise__form-label' 
        = f.file_field :user_image, class: 'devise__form-input user_image__form-input'
      .devise__form-group.mx-auto.col-4.mt-5
        = f.submit ("保存"), class: 'devise-edit-button'
      .devise__form-group.mx-auto.col-4.pt-3.py-5
        = link_to "キャンセル", :back, class: 'devise-edit-button'