.mypage.container.my-5
  .mypage-content.mb-5.p-5
    .upper-mypage
      .row
        .upper-mypage__left.col-12.col-lg-4
          .upper-mypage__left__avatar
            - if @user.user_image?
              = image_tag @user.user_image_url, alt: "アバター", class: "avatar"
            - else
              = image_tag "default_avatar.png", alt: "アバター", class: "avatar"
        .upper-mypage__right.col-12.col-lg-8
          .upper-mypage__right__username
            = @user.name
            - if user_signed_in? && @user.id == current_user.id
              = link_to "編集", edit_user_path(current_user), class: "user-edit-button float-right"
          .upper-mypage__right__profile
            = @user.profile_description
    .lower-mypage.mt-5
      .row
        .lower-mypage-tab
          .tabs
            %li
              %a.active{:href => ""} 登録したカフェ
            %li
              %a{:href => ""} お気に入り
            %li
              %a{:href => ""} レビュー
          .mypage-contents
            %li.active
              - if @shops.present?
                = render partial: 'modules/shops'
              - else
                登録したカフェはありません
            %li
              - if @likes.present?
                = render partial: 'user_like'
              - else
                お気に入りはありません。
            %li
              - if @reviews.present?
                = render partial: 'user_review'
              - else
                レビューはありません。


