<div class="shops-content row">
  <% @shops.each do |shop| %>
    <div class="shops-content__shop font-weight-bold col-12 col-md-6 col-lg-4 py-5">
      <%= link_to shop_path(shop), class: "link"  do %>
        <div class="shops-content__shop-image">
          <% image = shop.shop_images[0] %>
          <% if shop.shop_images.present? %>
            <%= image_tag "#{image.image}", class: "shop-first-image mx-auto d-block"%>
            <div class="shops-content__shop-access font-weight-bold">
              <%= shop.access.delete('駅') %>
            </div>
            <div class="shops-content__shop-name font-weight-bold">
              <%= shop.name %>
            </div>
            <div class="shops-content__shop-average d-flex">
              <% if shop.reviews.present? %>
                <div class="shops-content__shop-average-star">
                  <% @star_on = shop.reviews.average(:rate).to_i %>
                  <% @star_off = 5 - @star_on %>
                  <% @star_on.times do %>
                    <%= image_tag "star-on.png" %>
                  <% end %>
                  <% @star_off.times do %>
                    <%= image_tag "star-off.png" %>
                  <% end %>
                </div>
                <div class="shops-content__shop-average-rate font-weight-bold pl-2">
                  <%= shop.reviews.average(:rate).to_f.round(2) %>
                </div>
                <div class="shops-content__shop-icon d-flex pl-3">
                  <div class="shops-content__shop-icon-like">
                    <i class="fas fa-heart fa-xs">
                      <%= "#{shop.likes.count}" %>
                    </i>
                  </div>
                  <div class="shops-content__shop-icon-review pl-2">
                    <i class="fas fa-comment-dots fa-xs">
                      <%= "#{shop.reviews.count}" %>
                    </i>
                  </div>
                </div>
              <% else %>
                <div class="shops-content__shop-average-star">
                  <% 5.times do %>
                    <%= image_tag "star-off.png" %>
                  <% end %>
                </div>
                <div class="shops-content__shop-average-rate font-weight-bold pl-2">
                  <%= "--" %>
                </div>
                <div class="shops-content__shop-icon d-flex pl-3">
                  <div class="shops-content__shop-icon-like">
                    <i class="fas fa-heart fa-xs">
                      <%= "#{shop.likes.count}" %>
                    </i>
                  </div>
                  <div class="shops-content__shop-icon-review 
                  pl-2">
                    <i class="fas fa-comment-dots fa-xs">
                      <%= "#{shop.reviews.count}" %>
                    </i>
                  </div>
                </div>
              <% end %>
            </div>      
          <% else%>
            <%= image_tag "no-image-index.png", class: "shop-first-image mx-auto d-block" %>
            <div class="shops-content__shop-access font-weight-bold">
              <%= shop.access.delete('駅') %>
            </div>
            <div class="shops-content__shop-name font-weight-bold">
              <%= shop.name %>
            </div>
            <div class="shops-content__shop-average d-flex">
              <% if shop.reviews.present? %>
                <div class="shops-content__shop-average-star">
                  <% @star_on = shop.reviews.average(:rate).to_i %>
                  <% @star_off = 5 - @star_on %>
                  <% @star_on.times do %>
                    <%= image_tag "star-on.png" %>
                  <% end %>
                  <% @star_off.times do %>
                    <%= image_tag "star-off.png" %>
                  <% end %>
                </div>
                <div class="shops-content__shop-average-rate font-weight-bold pl-2">
                  <%= shop.reviews.average(:rate).to_f.round(2) %>
                </div>
                <div class="shops-content__shop-icon d-flex pl-3">
                  <div class="shops-content__shop-icon-like">
                    <i class="fas fa-heart fa-xs">
                      <%= "#{shop.likes.count}" %>
                    </i>
                  </div>
                  <div class="shops-content__shop-icon-review pl-2">
                    <i class="fas fa-comment-dots fa-xs">
                      <%= "#{shop.reviews.count}" %>
                    </i>
                  </div>
                </div>
              <% else %>
                <div class="shops-content__shop-average-star">
                  <% 5.times do %>
                    <%= image_tag "star-off.png" %>
                  <% end %>
                </div>
                <div class="shops-content__shop-average-rate font-weight-bold pl-2">
                  <%= "--" %>
                </div>
                <div class="shops-content__shop-icon d-flex pl-3">
                  <div class="shops-content__shop-icon-like">
                    <i class="fas fa-heart fa-xs">
                      <%= "#{shop.likes.count}" %>
                    </i>
                  </div>
                  <div class="shops-content__shop-icon-review pl-2">
                    <i class="fas fa-comment-dots fa-xs">
                      <%= "#{shop.reviews.count}" %>
                    </i>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>  
        </div>
      <% end %>
    </div>
  <% end %>
</div>