.user-shop-review  
  - @reviews.each do |review|
    .user-shop-review__wrapper.py-5.row
      .user-shop-review__wrapper__image.col-5
        = link_to shop_path(review.shop.id) , class: "link" do
          - image = review.shop.shop_images[0]
          - if review.shop.shop_images.present?
            = image_tag "#{image.image}", class: "shop-first-image mx-auto d-block"
          - else
            = image_tag "no-image-index.png", class: "shop-first-image mx-auto d-block"
      .user-shop-review__wrapper__content.col-7
        .user-shop-review__wrapper__content__shop-name.font-weight-bold
          = link_to shop_path(review.shop.id) , class: "link shop-name" do
            = review.shop.name
        .user-shop-review__wrapper__content__shop-star
          - @star_on = review.rate
          - @star_off = 5 - @star_on
          - @star_on.times do
            = image_tag "star-on.png"
          - @star_off.times do
            = image_tag "star-off.png"
        .user-shop-review__wrapper__content__shop-text.mt-3
          = review.text