.top__contents__shops__reviews
  .row
  - @shops.each do |shop|
    .top__contents__shops__reviews__item
      = link_to shop_path(shop) , class: "link" do
        .top__contents__shops__reviews__item__info
          .top__contents__shops__reviews__item__info__name
            = shop.name
          .top__contents__shops__reviews__item__photo
          - image = shop.shop_images[0]
          = image_tag "#{image.image}", size: "300x300" if shop.shop_images.present?
      .top__contents__shops__reviews__item__info__station
        = shop.access