.devise-wrapper
  .devise__contents
    %h2 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .devise__form-group
        = f.label :email, "メールアドレス"
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      .devise__form-group
        = f.label :password, "パスワード"
        = f.password_field :password, autocomplete: 'current-password', class: 'form-control' 
      - if devise_mapping.rememberable?
        .form-group.form-check
          = f.check_box :remember_me, class: 'form-check-input'
          = f.label :remember_me, class: 'form-check-label' do
            = resource.class.human_attribute_name('remember_me')
        .devise__form-group
          = f.submit  ('ログイン'), class: 'devise-button'
    = render "devise/shared/links"
    